Visa requirements for Latvian non-citizens are administrative entry restrictions by the authorities of other states placed on Non-citizens of Latvia.


== Visa-free access ==
Non-citizens of Latvia may enter the following countries and territories without a visa:


== See also ==
Visa requirements for Latvian citizens
Latvian passport


== References ==