Visa requirements for Vatican citizens are administrative entry restrictions by the authorities of other states placed on citizens of Vatican City. In 2015, Vatican citizens had visa-free or visa on arrival access to 128 countries and territories, ranking the Vatican passport 29th in the world.


== Visa requirements map ==


== Visa requirements ==


== See also ==
Visa policy in the European Union


== References ==